<%= javascript_pack_tag 'top/mortor', 'data-turbolinks-track': 'reload' %>
<h1>RadioControll</h1>
<img src="http://192.168.11.253:8080/?action=stream" />
<div class="controller-left">
  <div class="cross-layout">
    <button id="forward" class="position-top btn cross-key-btn"><span class="top-mark">▲</span></button>
    <button id="left" class="position-left btn cross-key-btn"><span class="left-mark">▲</span></button>
    <button id="breake" class="position-center btn cross-key-btn"><span class="center-mark">●</span></button>
    <button id="right" class="position-right btn cross-key-btn"><span class="right-mark">▲</span></button>
    <button id="back" class="position-bottom btn cross-key-btn"><span class="bottom-mark">▲</span></button>
  </div>
</div>
